{% load static %}<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title My PageTitle goes Here></title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;amp;subset=cyrillic" rel="stylesheet">
  </head>
  <body>
    <header id="header">
      <p class="hdr-slogan">Поисковик лицензионных ключей и&nbsp;гифтов для игр</p>
      <nav class="m-hdr-nav"><a href="#">Поддержка</a><a href="#">Надежно</a><span class="hn-wish-wrap"><a href="#my-desires" data-num="1" class="hn-wish wnw-no-authorized popup-modal">

            Мои желания</a><span class="hnw-info"><img src="{% static 'img/fox.jpg' %}" alt="fox" class="hnw-info-img">
            <h4 class="hnw-info-title">Успевай покупать выгоднее</h4>
            <p class="hnw-info-desc">Получай оповещения о&nbsp;снижении цен и&nbsp;распродажи на&nbsp;любимые игры бесплатно!</p>
            <button href="#login" class="hnw-info-btn popup-modal">Войти</button></span></span><a href="#login" class="hn-login popup-modal">Войти</a></nav>
    </header>
    <aside id="aside"><a href="{% url 'home' %}" class="hdr-logo-lnk"><img src="{% static 'img/logo.png' %}" class="hdr-logo"></a>
      <nav class="nav-aside"><a href="{% url 'home' %}" class="aside-link al--home active">Главная</a><a href="#" data-list="{{ games_amount }} шт" class="aside-link al--list">База игр</a><a href="#" data-discount="до -90%" class="aside-link al--star">Распродажа</a></nav>
      <hr class="aside-hr">
      <label class="aside-search">Быстрый поиск
        <input name="" type="search" class="as-input">
      </label>
      <div class="aside-list-game">{% for name, url in games %}
        <div><a href="{% url 'game' slug=url %}">{{ name }}</a></div>{% endfor %}
      </div>
    </aside>
    <main id="wrap">
      <section class="main-content">
        <div class="mini-wrap">
            {% block main %}{% endblock %}
        </div>
      </section>
    </main>
    <footer id="footer" class="m-ftr">
      <div class="m-ftr-wrap m-ftr-content">
        <div class="wrap">
          <div class="m-ftr-nav"><a href="javascript:void(0)">О сервисе</a><a href="javascript:void(0)">Оплата и доставка</a><a href="javascript:void(0)">Поддержка</a><a href="javascript:void(0)">Отзывы</a><a href="javascript:void(0)">Надежно</a><a href="javascript:void(0)" class="link_vk"></a></div>
          <div class="m-ftr-legal">
            <p class="m-ftr-legal-copyright">© 2016 KEYFIND.RU</p>
          </div>
        </div>
      </div>
      <div class="m-ftr-desc-b">
        <div class="m-ftr-wrap">
          <div class="wrap">
            <div class="m-ftr-desc">Здесь у&nbsp;вас всегда есть возможность купить игру или купить лицензионый ключ по&nbsp;самым низким ценам. Мы&nbsp;найдем для вас лучшее предложение в&nbsp;рунете!</div><a href="javascript:void(0)" class="m-ftr-shaburakov"> <img src="{% static 'img/shaburakov.png' %}" alt="shaburakov design"></a>
            <div class="m-ftr-funny-b">
              <blockquote>Оружие и наркотики в этой местности проходят только через «Тревор Филипс Энтерпрайзес». Или не проходят вовсе!</blockquote><img src="{% static 'img/trever.png' %}" alt="gta5 trever">
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div class="just-bought">

      Сейчас покупают<a href="#" class="jb-close"> </a>
    </div>
    <div id="my-desires" class="white-popup-block mfp-hide">
      <h5 class="md-title">Мои желания</h5><a href="#" class="popup-modal-dismiss"></a>
      <p class="md-box-title">Список ещё пуст</p>
      <p class="md-box-desc">Добавить игру можно на её странице.</p>
    </div>
    <div id="login" class="white-popup-block wpb-login mfp-hide">
      <h5 class="login-title">Вход</h5><a href="#" class="popup-modal-dismiss"></a>
      <div class="login-popup-wrap">
        <form class="lpw-form">
          <label class="lpw-label lpwl-email"><span>Email</span>
            <input type="mail" placeholder="me@email.ru" class="lpw-input lpw-input-email">
          </label>
          <label class="lpw-label lpwl-pin lpw-warning"><span>Пинкод</span>
            <input type="mail" placeholder="0456" class="lpw-input lpw-input-pin">
          </label>
          <label class="lpw-label">
            <button href="#" class="lpw-btn">Войти</button>
          </label>
          <label class="lpw-label"><a href="#reg" class="popup-modal lpw-link">Регистрация </a></label>
        </form>
      </div>
      <div class="login-popup-ftr"><a href="#forgot" class="lpf popup-modal">Забыли пинкод?</a></div>
    </div>
    <div id="reg" class="white-popup-block wpb-login mfp-hide">
      <h5 class="login-title">Регистрация</h5><a href="#" class="popup-modal-dismiss"></a>
      <div class="login-popup-wrap">
        <form class="lpw-form">
          <label class="lpw-label lpwl-email"><span>Ваш email</span>
            <input type="mail" placeholder="me@email.ru" class="lpw-input lpw-input-email">
          </label>
          <label class="lpw-label lpwl-pin"><span>Придумайте пинкод</span>
            <input type="mail" placeholder="0456" class="lpw-input lpw-input-pin">
          </label>
          <label class="lpw-label">
            <button href="#" class="lpw-btn">Зарегистрироваться</button>
          </label>
          <label class="lpw-label"><a href="#login" class="lpw-link popup-modal">Вход</a></label>
        </form>
      </div>
      <div class="login-popup-ftr"><a href="#forgot" class="lpf popup-modal">Забыли пинкод?    </a></div>
    </div>
    <div id="forgot" class="white-popup-block wpb-login mfp-hide">
      <h5 class="login-title">Восстановление доступа</h5><a href="#" class="popup-modal-dismiss"></a>
      <div class="login-popup-wrap">
        <form class="lpw-form">
          <label class="lpw-label lpwl-email"><span>Ваш регистрационный email</span>
            <input type="mail" placeholder="me@email.ru" class="lpw-input lpw-input-email">
          </label>
          <label class="lpw-label">
            <button href="#forgot-check" class="lpw-btn popup-modal">Восстановить</button>
          </label>
          <label class="lpw-label"><a href="#login" class="lpw-link popup-modal">Вход</a><a href="#reg" class="lpw-link popup-modal">Регистрация </a></label>
        </form>
      </div>
    </div>
    <div id="forgot-check" class="white-popup-block wpb-login mfp-hide">
      <h5 class="login-title">Восстановление доступа</h5><a href="#" class="popup-modal-dismiss"></a>
      <div class="login-popup-wrap">
        <div class="lpw-check"><img src="{% static 'img/checkreg.png' %}" alt="check forgot" class="lpw-img">
          <div class="md-box-desc mbd-check">Новый пинкод отправлен вам на&nbsp;email</div>
        </div>
        <label class="lpw-label"><a href="#login" class="lpw-link popup-modal">Войти            </a></label>
      </div>
    </div>
  </body>
</html>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery-migrate-1.4.1.min.js' %}"></script>
<script src="{% static 'js/swiper.js' %}"></script>
<script src="{% static 'js/notify.js' %}"></script>
<script src="{% static 'js/jquery.rateyo.min.js' %}"> </script>
<script src="{% static 'js/jquery.tabslet.js' %}"></script>
<script src="{% static 'js/jquery.flexdatalist.js' %}"></script>
<script src="{% static 'js/jquery.mCustomScrollbar.min.js' %}"></script>
<script src="{% static 'js/magnific-popup.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script>
  $( document ).ready(function() {
    if ($('.just-bought').length) {
      $.notify.addStyle('findkey', {
        html:
          "<div class='notify-block-wrap'" +
            "<div>" +
              "<div class='time' data-notify-html='time'/>" +
              "<span data-notify-html='img'> </span>" +
              "<div class='desc'>" +
                "<span class='name' data-notify-html='name'></span>" +
                "<span class='price-title' >забрали за </span>" +
                "<span class='price' data-notify-text='price'></span>" +
                "<span class='price-sub'><sup>&nbsp;руб</sup></span>" +
              "</div>" +
            "</div>" +
          "</div>"
      });
      $.notify({
        time: "только что",
        img: "<a class='price-link-img' href='#'><img src='{% static 'img/img-gta.png' %}'></a>",
        name: "<a class='price-link-name' href='#'>Grand Thef Auto 1</a>",
        price: "1595"
        }, {
        autoHide: false,
        position: "bottom left",
        style: 'findkey'
      });
      $.notify({
        time: "только что",
        img: "<a class='price-link-img' href='#'><img src='{% static 'img/img-gta.png' %}'></a>",
        name: "<a class='price-link-name' href='#'>Auto 1</a>",
        price: "1595"
        }, {
        autoHide: false,
        position: "bottom left",
        style: 'findkey'
      });
      $.notify({
        time: "только что",
        img: "<a class='price-link-img' href='#'><img src='{% static 'img/img-gta.png' %}'></a>",
        name: "<a class='price-link-name' href='#'>Grand1</a>",
        price: "1595"
        }, {
        autoHide: false,
        position: "bottom left",
        style: 'findkey'
      });
    }
  });
</script>