{% extends 'keyfind/base.html' %}{% load static %}{% block main %}
    <div class="holder">
        <nav class="breadcrumbs-wrap"><a href="javascript:void(0)" class="breadcrumb-item">Главная</a><a href="javascript:void(0)" class="breadcrumb-item">База</a><a href="javascript:void(0)" class="breadcrumb-item">{{ game.name }}</a></nav>
    </div>
    <div class="holder">
        <div class="item-show-wrap">
            <div class="isw-left">
                <h1 class="iswl-hdr">{{ game.name }}</h1>
                <p class="iswl-key-type">{{ game.subtitle }}</p>
                <p class="iswl-desc">{{ game.description }}</p>
                <div class="iswl-gallery">
                    <div class="swiper-container-item">
                        <div class="iswlg-wrap swiper-wrapper">{% if game.youtube %}
                            <div class="iswlg-item iswlg-item-video">
                                <iframe src="{{ game.youtube }}?rel=0&amp;amp;showinfo=0" frameborder="0" allowfullscreen alt="Видео" class="video"></iframe>
                            </div>{% endif %}{% for screen in screens %}
                            <div class="iswlg-item"><img src="{{ screen.image.url }}" alt="{{ screen.alt }}"></div>{% endfor %}
                        </div>
                        <div class="swiper-pagination"></div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"> </div>
                    </div>
                </div>
            </div>
            <div class="isw-right">
                <div class="iswr-desc-wrap"><img src="{{ game.image_344.url }}" class="iswr-img">
                    <div class="iswr-desc-mini">
                        <p class="iswr-seller">Лучшее предложение от Mr. Raritet</p>
                        <div data-rating="2" class="jq-ry-container"></div><span class="iswr-recall">1215 отзывов</span>
                        <div class="iswr-plus-wrap">
                            <p class="ipw-item ipw-item--check">Товар в наличии</p>
                            <p class="ipw-item ipw-item--mail">Моментальная доставка на email</p>
                            <p class="ipw-item ipw-item--key">Лицензионный рабочий ключ</p>
                        </div>
                        <div class="iswr-price-wrap">
                            <div class="iw-price-left">
                                <p class="iwpl-old">{{ game.srp }}</p>
                                <p class="iwpl-sale">-17%</p>
                            </div>
                            <div class="iw-price-right">
                                <p class="iwpr-price">1339<sup class="iwpr-sub"> руб</sup></p>
                            </div>
                            <p class="iw-profit">Покупая у нас, вы экономите: 256 руб<span>Это разница со скидкой и рыночной ценой игры, такой как во многих магазинах.</span></p>
                        </div>
                        <button class="iswr-btn-buy">Купить</button><a href="javascript:void(0)" class="iswr-btn-wish">Добавить в мои желания</a>
                    </div>
                </div>
                <div class="iswr-active">
                    <div class="iswr-a-item"><a href="javascript:void(0)">Как активировать ключ после покупки</a></div>
                    <div class="iswr-a-item"> <a href="javascript:void(0)">Где скачать саму игру</a></div>
                    <div class="iswr-a-item"> <a href="javascript:void(0)">Куда придет покупка</a></div>
                </div>
            </div>
        </div>
        <div class="item-tab-wrap">
            <div class="tabs tabs_default">
                <ul class="horizontal">
                    <li> <a href="#tab-1">Описание</a></li>
                    <li> <a href="#tab-2">

                        Отзывы<span>300</span></a></li>
                    <li> <a href="#tab-3">

                        Цены<span>20</span></a></li>
                    <li> <a href="#tab-4">Комментарии  </a></li>
                </ul>
                <div id="tab-1">
                    <div class="product-spec-wrap">
                        <dl class="psw psw--horizontal">
                            <dt class="psw-name">Активация ключа (гифта)</dt>
                            <dd class="psw-value">{{ game.activation }}</dd>
                            <dt class="psw-name">Дата выхода</dt>
                            <dd class="psw-value">{{ game.release_date|date:'d.m.Y' }}</dd>
                        </dl>
                        <dl class="psw psw--vertical">
                            <dt class="psw-name">Режимы игры</dt>
                            <dd class="psw-value"><span>{{ modes|join:', ' }}</span></dd>
                        </dl>
                        <dl class="psw psw--vertical">
                            <dt class="psw-name">Экстра опции</dt>
                            <dd class="psw-value">{% for option in options %}<span>{{ option.name }}</span>{% endfor %}</dd>
                        </dl>
                    </div>
                    <div class="product-tab-desc-wrap">
                        <p>Откройте для себя новейшее приключение от Pendulo Studios, создателей серии Runaway! 1481. Юного Джона унижают и публично тащат по улице. Он обвинен в колдовстве испанской инквизицией и брошен в тюрьму, где его подвергнут пыткам. Позже с ним произойдет алхимическая трансмутация, благодаря которой он обретет бессмертие. Но не все прошло так, как предполагалось. Поэтому после каждого воскрешения Джон теряет всю память о себе. 500 лет спустя, в наши дни, Джон и Полин ищут артефакт, необходимый для того, чтобы воспроизвести сатанинский ритуал. Во время этого расследования им придется противостоять новым опасным персонажам, стремящимся вырвать у них их секреты... Присоединитесь к бессмертным Джону Йестедею и Полин Пети в игре Yesterday Origins и окунитесь в эпическое приключение в различных эпохах и странах в этой истории, полной интриг и неожиданных поворотов сюжета.     </p>
                    </div>
                </div>
                <div id="tab-2">
                    <div class="product-reviews-wrap">
                        <div class="prw-stat prws-like"><span class="prws-date">05.10.2015</span><span class="prws-desc">

                        Рекомендую данного продовца,не обманули и игра хорошая выпала,от подарка не откажусь:)2 покупки было Рекомендую данного продовца,не обманули и игра хорошая выпала,от подарка не откажусь:)2 покупки было <span class="prws-answer"><span class="prwsa-name">Ответ продавца:</span><span class="prwsa-desc">видео все ключи обновлены 24.09.2015 хотите возврат ,потому что ключ вдруг оказался невалид Снимайте видео с момента покупки</span></span></span></div>
                        <div class="prw-stat prws-unlike"><span class="prws-date">05.10.2015</span><span class="prws-desc">

                        Рекомендую данного продовца,не обманули и игра хорошая выпала,от подарка не откажусь:)2 покупки было Рекомендую данного продовца,не обманули и игра хорошая выпала,от подарка не откажусь:)2 покупки было                    </span></div>
                        <div class="prw-stat prws-like"><span class="prws-date">05.10.2015</span><span class="prws-desc">

                        Рекомендую данного продовца,не обманули и игра хорошая выпала,от подарка/</span></div>
                        <div class="prw-stat prws-like"><span class="prws-date">05.10.2015</span><span class="prws-desc">

                        Рекомендую данного продовца,не обманули и игра хорошая выпала,от подарка/</span></div>
                        <div class="prw-stat prws-like"><span class="prws-date">05.10.2015</span><span class="prws-desc">

                        Рекомендую данного продовца,не обманули и игра хорошая выпала,от подарка/</span></div>
                        <div class="prw-stat prws-like"><span class="prws-date">05.10.2015</span><span class="prws-desc">

                        Рекомендую данного продовца,не обманули и игра хорошая выпала,от подарка/         </span></div>
                    </div>
                </div>
                <div id="tab-3">
                    <div class="product-other-price-wrap">
                        <h2 class="hdr-other-price">Другие предложения этой игры</h2>
                        <div class="pop-wrap">
                            <div class="pop-left-wrap"><a href="javascript:void(0)" class="plw-name">Grand Theft Auto 5</a>
                                <div class="plw-rate-wrap">
                                    <div data-rating="2" class="jq-ry-container"></div><span class="plwr-seller">Mr.Raritet</span>
                                </div>
                            </div>
                            <div class="pop-right-wrap"><span class="prw-old-price">2000</span><span class="prw-new-price"><span>1339</span><sup>руб</sup></span><span class="prw-sale">-20%</span></div>
                        </div>
                        <div class="pop-wrap">
                            <div class="pop-left-wrap"><a href="javascript:void(0)" class="plw-name">Grand Theft Auto 5</a>
                                <div class="plw-rate-wrap">
                                    <div data-rating="5" class="jq-ry-container"></div><span class="plwr-seller">Mr.Raritet</span>
                                </div>
                            </div>
                            <div class="pop-right-wrap"><span class="prw-old-price">2000</span><span class="prw-new-price"><span>1339</span><sup>руб</sup></span><span class="prw-sale prws-green">-5%    </span></div>
                        </div>
                    </div>
                </div>
                <div id="tab-4">Комменатрии вк</div>
            </div>
        </div>
        <div class="game-cards-wrap gcw--similar">
            <h4 class="h4">Похожие товары</h4>
            <div class="swiper-container">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
                <div class="game-cards swiper-wrapper">{% for item in similar %}
                    <div class="game-card"><a href="{{ item.get_absolute_url }}"><img src="{{ item.image_196.url }}"></a>
                        <div class="gc-info"><a href="{{ item.get_absolute_url }}" class="gc-name">{{ item.name }}</a>
                            <hr>
                            <div class="gci-price"><span class="gci-old-price">{{ item.srp }}</span><span class="gci-new-price">1366<sup>&nbsp;руб</sup></span><span class="gci-discount">-80%</span></div>
                        </div>
                    </div>{% endfor %}
                </div>
            </div>
        </div>
        <div class="gcw--ftr">
            <div class="game-cards-wrap gcw--eye">
                <h4 class="h4">Вы смотрели</h4>
                <div class="swiper-container">
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                    <div class="game-cards swiper-wrapper">
                        <div class="game-card"><a href="#"><img src="{% static 'img/img-gta.png' %}"></a>
                            <div class="gc-info"><a href="#" class="gc-name">Grand Thef Auto V sdfadsa sadfasd asdfs</a>
                                <hr>
                                <div class="gci-price"><span class="gci-old-price">1539</span><span class="gci-new-price">1366<sup>&nbsp;руб</sup></span><span class="gci-discount">-80%</span></div>
                            </div>
                        </div>
                        <div class="game-card"><a href="#"><img src="{% static 'img/img-mafia.png' %}"></a>
                            <div class="gc-info"><a href="#" class="gc-name">Grand Thef Auto V</a>
                                <hr>
                                <div class="gci-price"><span class="gci-old-price">1539</span><span class="gci-new-price">1366<sup>&nbsp;руб</sup></span><span class="gci-discount">-80%    </span></div>
                            </div>
                        </div>
                        <div class="game-card"><a href="#"><img src="{% static 'img/img-dishonored.png' %}"></a>
                            <div class="gc-info"><a href="#" class="gc-name">Grand Thef Auto V sdfadsa sadfasd asdfs</a>
                                <hr>
                                <div class="gci-price"><span class="gci-old-price">1539</span><span class="gci-new-price">1366<sup>&nbsp;руб</sup></span><span class="gci-discount">-80%    </span></div>
                            </div>
                        </div>
                        <div class="game-card"><a href="#"><img src="{% static 'img/img-gta.png' %}"></a>
                            <div class="gc-info"><a href="#" class="gc-name">Grand Thef Auto V sdfadsa sadfasd asdfs</a>
                                <hr>
                                <div class="gci-price"><span class="gci-old-price">1539</span><span class="gci-new-price">1366<sup>&nbsp;руб</sup></span><span class="gci-discount">-80%</span></div>
                            </div>
                        </div>
                        <div class="game-card"><a href="#"><img src="{% static 'img/img-mafia.png' %}"></a>
                            <div class="gc-info"><a href="#" class="gc-name">Grand Thef Auto V</a>
                                <hr>
                                <div class="gci-price"><span class="gci-old-price">1539</span><span class="gci-new-price">1366<sup>&nbsp;руб</sup></span><span class="gci-discount">-80%    </span></div>
                            </div>
                        </div>
                        <div class="game-card"><a href="#"><img src="{% static 'img/img-dishonored.png' %}"></a>
                            <div class="gc-info"><a href="#" class="gc-name">Grand Thef Auto V sdfadsa sadfasd asdfs</a>
                                <hr>
                                <div class="gci-price"><span class="gci-old-price">1539</span><span class="gci-new-price">1366<sup>&nbsp;руб</sup></span><span class="gci-discount">-80%  </span></div>
                            </div>
                        </div>
                        <div class="game-card"><a href="#"><img src="{% static 'img/img-gta.png' %}"></a>
                            <div class="gc-info"><a href="#" class="gc-name">Grand Thef Auto V sdfadsa sadfasd asdfs</a>
                                <hr>
                                <div class="gci-price"><span class="gci-old-price">1539</span><span class="gci-new-price">1366<sup>&nbsp;руб</sup></span><span class="gci-discount">-80%</span></div>
                            </div>
                        </div>
                        <div class="game-card"><a href="#"><img src="{% static 'img/img-mafia.png' %}"></a>
                            <div class="gc-info"><a href="#" class="gc-name">Grand Thef Auto V</a>
                                <hr>
                                <div class="gci-price"><span class="gci-old-price">1539</span><span class="gci-new-price">1366<sup>&nbsp;руб</sup></span><span class="gci-discount">-80%    </span></div>
                            </div>
                        </div>
                        <div class="game-card"><a href="#"><img src="{% static 'img/img-dishonored.png' %}"></a>
                            <div class="gc-info"><a href="#" class="gc-name">Grand Thef Auto V sdfadsa sadfasd asdfs</a>
                                <hr>
                                <div class="gci-price"><span class="gci-old-price">1539</span><span class="gci-new-price">1366<sup>&nbsp;руб</sup></span><span class="gci-discount">-80%    </span></div>
                            </div>
                        </div>
                        <div class="game-card"><a href="#"><img src="{% static 'img/img-gta.png' %}"></a>
                            <div class="gc-info"><a href="#" class="gc-name">Grand Thef Auto V sdfadsa sadfasd asdfs</a>
                                <hr>
                                <div class="gci-price"><span class="gci-old-price">1539</span><span class="gci-new-price">1366<sup>&nbsp;руб</sup></span><span class="gci-discount">-80%</span></div>
                            </div>
                        </div>
                        <div class="game-card"><a href="#"><img src="{% static 'img/img-mafia.png' %}"></a>
                            <div class="gc-info"><a href="#" class="gc-name">Grand Thef Auto V</a>
                                <hr>
                                <div class="gci-price"><span class="gci-old-price">1539</span><span class="gci-new-price">1366<sup>&nbsp;руб</sup></span><span class="gci-discount">-80%    </span></div>
                            </div>
                        </div>
                        <div class="game-card"><a href="#"><img src="{% static 'img/img-dishonored.png' %}"></a>
                            <div class="gc-info"><a href="#" class="gc-name">Grand Thef Auto V sdfadsa sadfasd asdfs</a>
                                <hr>
                                <div class="gci-price"><span class="gci-old-price">1539</span><span class="gci-new-price">1366<sup>&nbsp;руб</sup></span><span class="gci-discount">-80%                   </span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}