{% extends 'keyfind/base.html' %}{% load static %}{% block main %}
    <div class="holder">
        <div class="mc-hdr">
            <h1 class="h1 hdr-home-h1">Поиск дешевых лицензионных ключей для игр</h1>
            <h2 class="hdr-home-h2">Лучший способ купить ключ дешево</h2>
            <div class="search-hdr-main">
                <form class="shm-form">
                    <label>
                        <input type="search" placeholder="Поиск по названию игры" list="game" name="game" class="shm-input flexdatalist">
                        <button type="submit" class="sh-btn">Найти игру</button>
                        <datalist id="game">
                            <option value="Age of Empires">Age of Empires</option>
                            <option value="Anno">Anno</option>
                            <option value="Batman">Batman</option>
                            <option value="Grand Theft Auto 5">Grand Theft Auto 5</option>
                        </datalist>
                    </label>
                </form>
            </div>
            <div class="hdr-advantages-wrap">
                <div class="haw-item hi--smile">
                    <p>Только надежные продавцы с&nbsp;тычячами отзывов!</p>
                </div>
                <div class="haw-item hi--keys">
                    <p>Более 1&nbsp;000&nbsp;000 покупок и&nbsp;довольных покупателей!</p>
                </div>
                <div class="haw-item hi--sales">
                    <p>Постоянный мониторинг распродаж и&nbsp;скидок!</p>
                </div>
            </div>
        </div>
        <div class="game-cards-wrap gcw--top">
            <h4 class="h4">Самые покупаемые</h4>
            <div class="game-cards">
                <div class="game-card"><a href="#"><img src="{% static 'img/img-gta.png' %}"></a>
                    <div class="gc-info"><a href="#" class="gc-name">Grand Thef Auto V sdfadsa sadfasd asdfs</a>
                        <hr>
                        <div class="gci-price"><span class="gci-old-price">1539</span><span class="gci-new-price">1366<sup>&nbsp;руб</sup></span><span class="gci-discount gcid-red">-80%</span></div>
                    </div>
                </div>
                <div class="game-card"><a href="#"><img src="{% static 'img/img-mafia.png' %}"></a>
                    <div class="gc-info"><a href="#" class="gc-name">Grand Thef Auto V</a>
                        <hr>
                        <div class="gci-price"><span class="gci-old-price">1539</span><span class="gci-new-price">1366<sup>&nbsp;руб</sup></span><span class="gci-discount gcid-green">-80%    </span></div>
                    </div>
                </div>
                <div class="game-card"><a href="#"><img src="{% static 'img/img-dishonored.png' %}"></a>
                    <div class="gc-info"><a href="#" class="gc-name">Grand Thef Auto V sdfadsa sadfasd asdfs</a>
                        <hr>
                        <div class="gci-price"><span class="gci-old-price">1539</span><span class="gci-new-price">1366<sup>&nbsp;руб</sup></span><span class="gci-discount">-80%    </span></div>
                    </div>
                </div>
                <div class="game-card"><a href="#"><img src="{% static 'img/img-gta.png' %}"></a>
                    <div class="gc-info"><a href="#" class="gc-name">Grand Thef Auto V sdfadsa sadfasd asdfs</a>
                        <hr>
                        <div class="gci-price"><span class="gci-old-price">1539</span><span class="gci-new-price">1366<sup>&nbsp;руб</sup></span><span class="gci-discount">-80%</span></div>
                    </div>
                </div>
                <div class="game-card"><a href="#"><img src="{% static 'img/img-mafia.png' %}"></a>
                    <div class="gc-info"><a href="#" class="gc-name">Grand Thef Auto V</a>
                        <hr>
                        <div class="gci-price"><span class="gci-old-price">1539</span><span class="gci-new-price">1366<sup>&nbsp;руб</sup></span><span class="gci-discount">-80%    </span></div>
                    </div>
                </div>
                <div class="game-card"><a href="#"><img src="{% static 'img/img-dishonored.png' %}"></a>
                    <div class="gc-info"><a href="#" class="gc-name">Grand Thef Auto V sdfadsa sadfasd asdfs</a>
                        <hr>
                        <div class="gci-price"><span class="gci-old-price">1539</span><span class="gci-new-price">1366<sup>&nbsp;руб</sup></span><span class="gci-discount">-80%  </span></div>
                    </div>
                </div>
                <div class="game-card"><a href="#"><img src="{% static 'img/img-gta.png' %}"></a>
                    <div class="gc-info"><a href="#" class="gc-name">Grand Thef Auto V sdfadsa sadfasd asdfs</a>
                        <hr>
                        <div class="gci-price"><span class="gci-old-price">1539</span><span class="gci-new-price">1366<sup>&nbsp;руб</sup></span><span class="gci-discount">-80%</span></div>
                    </div>
                </div>
                <div class="game-card"><a href="#"><img src="{% static 'img/img-mafia.png' %}"></a>
                    <div class="gc-info"><a href="#" class="gc-name">Grand Thef Auto V</a>
                        <hr>
                        <div class="gci-price"><span class="gci-old-price">1539</span><span class="gci-new-price">1366<sup>&nbsp;руб</sup></span><span class="gci-discount">-80%    </span></div>
                    </div>
                </div>
                <div class="game-card"><a href="#"><img src="{% static 'img/img-dishonored.png' %}"></a>
                    <div class="gc-info"><a href="#" class="gc-name">Grand Thef Auto V sdfadsa sadfasd asdfs</a>
                        <hr>
                        <div class="gci-price"><span class="gci-old-price">1539</span><span class="gci-new-price">1366<sup>&nbsp;руб</sup></span><span class="gci-discount">-80%    </span></div>
                    </div>
                </div>
                <div class="game-card"><a href="#"><img src="{% static 'img/img-gta.png' %}"></a>
                    <div class="gc-info"><a href="#" class="gc-name">Grand Thef Auto V sdfadsa sadfasd asdfs</a>
                        <hr>
                        <div class="gci-price"><span class="gci-old-price">1539</span><span class="gci-new-price">1366<sup>&nbsp;руб</sup></span><span class="gci-discount">-80%</span></div>
                    </div>
                </div>
                <div class="game-card"><a href="#"><img src="{% static 'img/img-mafia.png' %}"></a>
                    <div class="gc-info"><a href="#" class="gc-name">Grand Thef Auto V</a>
                        <hr>
                        <div class="gci-price"><span class="gci-old-price">1539</span><span class="gci-new-price">1366<sup>&nbsp;руб</sup></span><span class="gci-discount">-80%    </span></div>
                    </div>
                </div>
                <div class="game-card"><a href="#"><img src="{% static 'img/img-dishonored.png' %}"></a>
                    <div class="gc-info"><a href="#" class="gc-name">Grand Thef Auto V sdfadsa sadfasd asdfs</a>
                        <hr>
                        <div class="gci-price"><span class="gci-old-price">1539</span><span class="gci-new-price">1366<sup>&nbsp;руб</sup></span><span class="gci-discount">-80%                                              </span></div>
                    </div>
                </div>
            </div><a href="#" class="link-more">Показать ещё</a>
        </div>
        <div class="game-cards-wrap gcw--new">
            <h4 class="h4">Новинки</h4>
            <div class="swiper-container">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
                <div class="game-cards swiper-wrapper">
                    <div class="game-card"><a href="#"><img src="{% static 'img/img-gta.png' %}"></a>
                        <div class="gc-info"><a href="#" class="gc-name">Grand Thef Auto V sdfadsa sadfasd asdfs</a>
                            <hr>
                            <div class="gci-price"><span class="gci-old-price">1539</span><span class="gci-new-price">1366<sup>&nbsp;руб</sup></span><span class="gci-discount">-80%</span></div>
                        </div>
                    </div>
                    <div class="game-card"><a href="#"><img src="{% static 'img/img-mafia.png' %}"></a>
                        <div class="gc-info"><a href="#" class="gc-name">Grand Thef Auto V</a>
                            <hr>
                            <div class="gci-price"><span class="gci-old-price">1539</span><span class="gci-new-price">1366<sup>&nbsp;руб</sup></span><span class="gci-discount">-80%    </span></div>
                        </div>
                    </div>
                    <div class="game-card"><a href="#"><img src="{% static 'img/img-dishonored.png' %}"></a>
                        <div class="gc-info"><a href="#" class="gc-name">Grand Thef Auto V sdfadsa sadfasd asdfs</a>
                            <hr>
                            <div class="gci-price"><span class="gci-old-price">1539</span><span class="gci-new-price">1366<sup>&nbsp;руб</sup></span><span class="gci-discount">-80%    </span></div>
                        </div>
                    </div>
                    <div class="game-card"><a href="#"><img src="{% static 'img/img-gta.png' %}"></a>
                        <div class="gc-info"><a href="#" class="gc-name">Grand Thef Auto V sdfadsa sadfasd asdfs</a>
                            <hr>
                            <div class="gci-price"><span class="gci-old-price">1539</span><span class="gci-new-price">1366<sup>&nbsp;руб</sup></span><span class="gci-discount">-80%</span></div>
                        </div>
                    </div>
                    <div class="game-card"><a href="#"><img src="{% static 'img/img-mafia.png' %}"></a>
                        <div class="gc-info"><a href="#" class="gc-name">Grand Thef Auto V</a>
                            <hr>
                            <div class="gci-price"><span class="gci-old-price">1539</span><span class="gci-new-price">1366<sup>&nbsp;руб</sup></span><span class="gci-discount">-80%    </span></div>
                        </div>
                    </div>
                    <div class="game-card"><a href="#"><img src="{% static 'img/img-dishonored.png' %}"></a>
                        <div class="gc-info"><a href="#" class="gc-name">Grand Thef Auto V sdfadsa sadfasd asdfs</a>
                            <hr>
                            <div class="gci-price"><span class="gci-old-price">1539</span><span class="gci-new-price">1366<sup>&nbsp;руб</sup></span><span class="gci-discount">-80%  </span></div>
                        </div>
                    </div>
                    <div class="game-card"><a href="#"><img src="{% static 'img/img-gta.png' %}"></a>
                        <div class="gc-info"><a href="#" class="gc-name">Grand Thef Auto V sdfadsa sadfasd asdfs</a>
                            <hr>
                            <div class="gci-price"><span class="gci-old-price">1539</span><span class="gci-new-price">1366<sup>&nbsp;руб</sup></span><span class="gci-discount">-80%</span></div>
                        </div>
                    </div>
                    <div class="game-card"><a href="#"><img src="{% static 'img/img-mafia.png' %}"></a>
                        <div class="gc-info"><a href="#" class="gc-name">Grand Thef Auto V</a>
                            <hr>
                            <div class="gci-price"><span class="gci-old-price">1539</span><span class="gci-new-price">1366<sup>&nbsp;руб</sup></span><span class="gci-discount">-80%    </span></div>
                        </div>
                    </div>
                    <div class="game-card"><a href="#"><img src="{% static 'img/img-dishonored.png' %}"></a>
                        <div class="gc-info"><a href="#" class="gc-name">Grand Thef Auto V sdfadsa sadfasd asdfs</a>
                            <hr>
                            <div class="gci-price"><span class="gci-old-price">1539</span><span class="gci-new-price">1366<sup>&nbsp;руб</sup></span><span class="gci-discount">-80%    </span></div>
                        </div>
                    </div>
                    <div class="game-card"><a href="#"><img src="{% static 'img/img-gta.png' %}"></a>
                        <div class="gc-info"><a href="#" class="gc-name">Grand Thef Auto V sdfadsa sadfasd asdfs</a>
                            <hr>
                            <div class="gci-price"><span class="gci-old-price">1539</span><span class="gci-new-price">1366<sup>&nbsp;руб</sup></span><span class="gci-discount">-80%</span></div>
                        </div>
                    </div>
                    <div class="game-card"><a href="#"><img src="{% static 'img/img-mafia.png' %}"></a>
                        <div class="gc-info"><a href="#" class="gc-name">Grand Thef Auto V</a>
                            <hr>
                            <div class="gci-price"><span class="gci-old-price">1539</span><span class="gci-new-price">1366<sup>&nbsp;руб</sup></span><span class="gci-discount">-80%    </span></div>
                        </div>
                    </div>
                    <div class="game-card"><a href="#"><img src="{% static 'img/img-dishonored.png' %}"></a>
                        <div class="gc-info"><a href="#" class="gc-name">Grand Thef Auto V sdfadsa sadfasd asdfs</a>
                            <hr>
                            <div class="gci-price"><span class="gci-old-price">1539</span><span class="gci-new-price">1366<sup>&nbsp;руб</sup></span><span class="gci-discount">-80%                                              </span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="game-cards-wrap gcw--popular">
            <h4 class="h4">Популярные серии</h4>
            <div class="swiper-container">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
                <div class="game-cards swiper-wrapper">
                    <div class="game-card"><a href="#"><img src="{% static 'img/img-gta.png' %}"></a>
                        <div class="gc-info">
                            <p class="gc-name-wrap"><a href="#" class="gc-name">Grand Thef Auto 1</a></p>
                            <p class="gc-name-wrap"><a href="#" class="gc-name">Grand Thef Auto 2</a></p>
                            <p class="gc-name-wrap"><a href="#" class="gc-name">Grand Thef Auto 3</a></p>
                            <p class="gc-name-wrap"><a href="#" class="gc-name">Grand Thef Auto 4</a></p>
                            <p class="gc-name-wrap"> <a href="#" class="gc-name">Grand Thef Auto 5</a></p>
                            <hr>
                            <div class="gci-price"><span class="gci-old-price">1539</span><span class="gci-new-price">1366<sup>&nbsp;руб</sup></span><span class="gci-discount">-80%</span></div>
                        </div>
                    </div>
                    <div class="game-card"><a href="#"><img src="{% static 'img/img-gta.png' %}"></a>
                        <div class="gc-info">
                            <p class="gc-name-wrap"><a href="#" class="gc-name">Grand Thef Auto 1</a></p>
                            <p class="gc-name-wrap"><a href="#" class="gc-name">Grand Thef Auto 2</a></p>
                            <p class="gc-name-wrap"><a href="#" class="gc-name">Grand Thef Auto 3</a></p>
                            <p class="gc-name-wrap"><a href="#" class="gc-name">Grand Thef Auto 4</a></p>
                            <p class="gc-name-wrap"> <a href="#" class="gc-name">Grand Thef Auto 5</a></p>
                            <hr>
                            <div class="gci-price"><span class="gci-old-price">1539</span><span class="gci-new-price">1366<sup>&nbsp;руб</sup></span><span class="gci-discount">-80%   </span></div>
                        </div>
                    </div>
                    <div class="game-card"><a href="#"><img src="{% static 'img/img-gta.png' %}"></a>
                        <div class="gc-info">
                            <p class="gc-name-wrap"><a href="#" class="gc-name">Grand Thef Auto 1</a></p>
                            <p class="gc-name-wrap"><a href="#" class="gc-name">Grand Thef Auto 2</a></p>
                            <p class="gc-name-wrap"><a href="#" class="gc-name">Grand Thef Auto 3</a></p>
                            <p class="gc-name-wrap"><a href="#" class="gc-name">Grand Thef Auto 4</a></p>
                            <p class="gc-name-wrap"> <a href="#" class="gc-name">Grand Thef Auto 5</a></p>
                            <hr>
                            <div class="gci-price"><span class="gci-old-price">1539</span><span class="gci-new-price">1366<sup>&nbsp;руб</sup></span><span class="gci-discount">-80%</span></div>
                        </div>
                    </div>
                    <div class="game-card"><a href="#"><img src="{% static 'img/img-gta.png' %}"></a>
                        <div class="gc-info">
                            <p class="gc-name-wrap"><a href="#" class="gc-name">Grand Thef Auto 1</a></p>
                            <p class="gc-name-wrap"><a href="#" class="gc-name">Grand Thef Auto 2</a></p>
                            <p class="gc-name-wrap"><a href="#" class="gc-name">Grand Thef Auto 3</a></p>
                            <p class="gc-name-wrap"><a href="#" class="gc-name">Grand Thef Auto 4</a></p>
                            <p class="gc-name-wrap"> <a href="#" class="gc-name">Grand Thef Auto 5</a></p>
                            <hr>
                            <div class="gci-price"><span class="gci-old-price">1539</span><span class="gci-new-price">1366<sup>&nbsp;руб</sup></span><span class="gci-discount">-80% </span></div>
                        </div>
                    </div>
                    <div class="game-card"><a href="#"><img src="{% static 'img/img-gta.png' %}"></a>
                        <div class="gc-info">
                            <p class="gc-name-wrap"><a href="#" class="gc-name">Grand Thef Auto 1</a></p>
                            <p class="gc-name-wrap"><a href="#" class="gc-name">Grand Thef Auto 2</a></p>
                            <p class="gc-name-wrap"><a href="#" class="gc-name">Grand Thef Auto 3</a></p>
                            <p class="gc-name-wrap"><a href="#" class="gc-name">Grand Thef Auto 4</a></p>
                            <p class="gc-name-wrap"> <a href="#" class="gc-name">Grand Thef Auto 5</a></p>
                            <hr>
                            <div class="gci-price"><span class="gci-old-price">1539</span><span class="gci-new-price">1366<sup>&nbsp;руб</sup></span><span class="gci-discount">-80%</span></div>
                        </div>
                    </div>
                    <div class="game-card"><a href="#"><img src="{% static 'img/img-gta.png' %}"></a>
                        <div class="gc-info">
                            <p class="gc-name-wrap"><a href="#" class="gc-name">Grand Thef Auto 1</a></p>
                            <p class="gc-name-wrap"><a href="#" class="gc-name">Grand Thef Auto 2</a></p>
                            <p class="gc-name-wrap"><a href="#" class="gc-name">Grand Thef Auto 3</a></p>
                            <p class="gc-name-wrap"><a href="#" class="gc-name">Grand Thef Auto 4</a></p>
                            <p class="gc-name-wrap"> <a href="#" class="gc-name">Grand Thef Auto 5</a></p>
                            <hr>
                            <div class="gci-price"><span class="gci-old-price">1539</span><span class="gci-new-price">1366<sup>&nbsp;руб</sup></span><span class="gci-discount">-80%                                                     </span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="game-cards-wrap gcw--star">
            <h4 class="h4">Распродажа</h4>
            <div class="game-cards">
                <div class="game-card"><a href="#"><img src="{% static 'img/img-gta.png' %}"></a>
                    <div class="gc-info"><a href="#" class="gc-name">Grand Thef Auto V sdfadsa sadfasd asdfs</a>
                        <hr>
                        <div class="gci-price"><span class="gci-old-price">1539</span><span class="gci-new-price">1366<sup>&nbsp;руб</sup></span><span class="gci-discount">-80%</span></div>
                    </div>
                </div>
                <div class="game-card"><a href="#"><img src="{% static 'img/img-mafia.png' %}"></a>
                    <div class="gc-info"><a href="#" class="gc-name">Grand Thef Auto V</a>
                        <hr>
                        <div class="gci-price"><span class="gci-old-price">1539</span><span class="gci-new-price">1366<sup>&nbsp;руб</sup></span><span class="gci-discount">-80%    </span></div>
                    </div>
                </div>
                <div class="game-card"><a href="#"><img src="{% static 'img/img-dishonored.png' %}"></a>
                    <div class="gc-info"><a href="#" class="gc-name">Grand Thef Auto V sdfadsa sadfasd asdfs</a>
                        <hr>
                        <div class="gci-price"><span class="gci-old-price">1539</span><span class="gci-new-price">1366<sup>&nbsp;руб</sup></span><span class="gci-discount">-80%    </span></div>
                    </div>
                </div>
                <div class="game-card"><a href="#"><img src="{% static 'img/img-gta.png' %}"></a>
                    <div class="gc-info"><a href="#" class="gc-name">Grand Thef Auto V sdfadsa sadfasd asdfs</a>
                        <hr>
                        <div class="gci-price"><span class="gci-old-price">1539</span><span class="gci-new-price">1366<sup>&nbsp;руб</sup></span><span class="gci-discount">-80%</span></div>
                    </div>
                </div>
                <div class="game-card"><a href="#"><img src="{% static 'img/img-mafia.png' %}"></a>
                    <div class="gc-info"><a href="#" class="gc-name">Grand Thef Auto V</a>
                        <hr>
                        <div class="gci-price"><span class="gci-old-price">1539</span><span class="gci-new-price">1366<sup>&nbsp;руб</sup></span><span class="gci-discount">-80%    </span></div>
                    </div>
                </div>
                <div class="game-card"><a href="#"><img src="{% static 'img/img-dishonored.png' %}"></a>
                    <div class="gc-info"><a href="#" class="gc-name">Grand Thef Auto V sdfadsa sadfasd asdfs</a>
                        <hr>
                        <div class="gci-price"><span class="gci-old-price">1539</span><span class="gci-new-price">1366<sup>&nbsp;руб</sup></span><span class="gci-discount">-80%  </span></div>
                    </div>
                </div>
                <div class="game-card"><a href="#"><img src="{% static 'img/img-mafia.png' %}"></a>
                    <div class="gc-info"><a href="#" class="gc-name">Grand Thef Auto V</a>
                        <hr>
                        <div class="gci-price"><span class="gci-old-price">1539</span><span class="gci-new-price">1366<sup>&nbsp;руб</sup></span><span class="gci-discount">-80%    </span></div>
                    </div>
                </div>
                <div class="game-card"><a href="#"><img src="{% static 'img/img-dishonored.png' %}"></a>
                    <div class="gc-info"><a href="#" class="gc-name">Grand Thef Auto V sdfadsa sadfasd asdfs</a>
                        <hr>
                        <div class="gci-price"><span class="gci-old-price">1539</span><span class="gci-new-price">1366<sup>&nbsp;руб</sup></span><span class="gci-discount">-80%    </span></div>
                    </div>
                </div>
                <div class="game-card"><a href="#"><img src="{% static 'img/img-gta.png' %}"></a>
                    <div class="gc-info"><a href="#" class="gc-name">Grand Thef Auto V sdfadsa sadfasd asdfs</a>
                        <hr>
                        <div class="gci-price"><span class="gci-old-price">1539</span><span class="gci-new-price">1366<sup>&nbsp;руб</sup></span><span class="gci-discount">-80%</span></div>
                    </div>
                </div>
                <div class="game-card"><a href="#"><img src="{% static 'img/img-mafia.png' %}"></a>
                    <div class="gc-info"><a href="#" class="gc-name">Grand Thef Auto V</a>
                        <hr>
                        <div class="gci-price"><span class="gci-old-price">1539</span><span class="gci-new-price">1366<sup>&nbsp;руб</sup></span><span class="gci-discount">-80%    </span></div>
                    </div>
                </div>
                <div class="game-card"><a href="#"><img src="{% static 'img/img-dishonored.png' %}"></a>
                    <div class="gc-info"><a href="#" class="gc-name">Grand Thef Auto V sdfadsa sadfasd asdfs</a>
                        <hr>
                        <div class="gci-price"><span class="gci-old-price">1539</span><span class="gci-new-price">1366<sup>&nbsp;руб</sup></span><span class="gci-discount">-80%                                              </span></div>
                    </div>
                </div>
            </div><a href="#" class="link-more">Показать ещё</a>
        </div>
        <div class="gcw--ftr">
            <div class="game-cards-wrap gcw--eye">
                <h4 class="h4">Вы смотрели</h4>
                <div class="swiper-container">
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                    <div class="game-cards swiper-wrapper">
                        <div class="game-card"><a href="#"><img src="{% static 'img/img-gta.png' %}"></a>
                            <div class="gc-info"><a href="#" class="gc-name">Grand Thef Auto V sdfadsa sadfasd asdfs</a>
                                <hr>
                                <div class="gci-price"><span class="gci-old-price">1539</span><span class="gci-new-price">1366<sup>&nbsp;руб</sup></span><span class="gci-discount">-80%</span></div>
                            </div>
                        </div>
                        <div class="game-card"><a href="#"><img src="{% static 'img/img-mafia.png' %}"></a>
                            <div class="gc-info"><a href="#" class="gc-name">Grand Thef Auto V</a>
                                <hr>
                                <div class="gci-price"><span class="gci-old-price">1539</span><span class="gci-new-price">1366<sup>&nbsp;руб</sup></span><span class="gci-discount">-80%    </span></div>
                            </div>
                        </div>
                        <div class="game-card"><a href="#"><img src="{% static 'img/img-dishonored.png' %}"></a>
                            <div class="gc-info"><a href="#" class="gc-name">Grand Thef Auto V sdfadsa sadfasd asdfs</a>
                                <hr>
                                <div class="gci-price"><span class="gci-old-price">1539</span><span class="gci-new-price">1366<sup>&nbsp;руб</sup></span><span class="gci-discount">-80%    </span></div>
                            </div>
                        </div>
                        <div class="game-card"><a href="#"><img src="{% static 'img/img-gta.png' %}"></a>
                            <div class="gc-info"><a href="#" class="gc-name">Grand Thef Auto V sdfadsa sadfasd asdfs</a>
                                <hr>
                                <div class="gci-price"><span class="gci-old-price">1539</span><span class="gci-new-price">1366<sup>&nbsp;руб</sup></span><span class="gci-discount">-80%</span></div>
                            </div>
                        </div>
                        <div class="game-card"><a href="#"><img src="{% static 'img/img-mafia.png' %}"></a>
                            <div class="gc-info"><a href="#" class="gc-name">Grand Thef Auto V</a>
                                <hr>
                                <div class="gci-price"><span class="gci-old-price">1539</span><span class="gci-new-price">1366<sup>&nbsp;руб</sup></span><span class="gci-discount">-80%    </span></div>
                            </div>
                        </div>
                        <div class="game-card"><a href="#"><img src="{% static 'img/img-dishonored.png' %}"></a>
                            <div class="gc-info"><a href="#" class="gc-name">Grand Thef Auto V sdfadsa sadfasd asdfs</a>
                                <hr>
                                <div class="gci-price"><span class="gci-old-price">1539</span><span class="gci-new-price">1366<sup>&nbsp;руб</sup></span><span class="gci-discount">-80%  </span></div>
                            </div>
                        </div>
                        <div class="game-card"><a href="#"><img src="{% static 'img/img-gta.png' %}"></a>
                            <div class="gc-info"><a href="#" class="gc-name">Grand Thef Auto V sdfadsa sadfasd asdfs</a>
                                <hr>
                                <div class="gci-price"><span class="gci-old-price">1539</span><span class="gci-new-price">1366<sup>&nbsp;руб</sup></span><span class="gci-discount">-80%</span></div>
                            </div>
                        </div>
                        <div class="game-card"><a href="#"><img src="{% static 'img/img-mafia.png' %}"></a>
                            <div class="gc-info"><a href="#" class="gc-name">Grand Thef Auto V</a>
                                <hr>
                                <div class="gci-price"><span class="gci-old-price">1539</span><span class="gci-new-price">1366<sup>&nbsp;руб</sup></span><span class="gci-discount">-80%    </span></div>
                            </div>
                        </div>
                        <div class="game-card"><a href="#"><img src="{% static 'img/img-dishonored.png' %}"></a>
                            <div class="gc-info"><a href="#" class="gc-name">Grand Thef Auto V sdfadsa sadfasd asdfs</a>
                                <hr>
                                <div class="gci-price"><span class="gci-old-price">1539</span><span class="gci-new-price">1366<sup>&nbsp;руб</sup></span><span class="gci-discount">-80%    </span></div>
                            </div>
                        </div>
                        <div class="game-card"><a href="#"><img src="{% static 'img/img-gta.png' %}"></a>
                            <div class="gc-info"><a href="#" class="gc-name">Grand Thef Auto V sdfadsa sadfasd asdfs</a>
                                <hr>
                                <div class="gci-price"><span class="gci-old-price">1539</span><span class="gci-new-price">1366<sup>&nbsp;руб</sup></span><span class="gci-discount">-80%</span></div>
                            </div>
                        </div>
                        <div class="game-card"><a href="#"><img src="{% static 'img/img-mafia.png' %}"></a>
                            <div class="gc-info"><a href="#" class="gc-name">Grand Thef Auto V</a>
                                <hr>
                                <div class="gci-price"><span class="gci-old-price">1539</span><span class="gci-new-price">1366<sup>&nbsp;руб</sup></span><span class="gci-discount">-80%    </span></div>
                            </div>
                        </div>
                        <div class="game-card"><a href="#"><img src="{% static 'img/img-dishonored.png' %}"></a>
                            <div class="gc-info"><a href="#" class="gc-name">Grand Thef Auto V sdfadsa sadfasd asdfs</a>
                                <hr>
                                <div class="gci-price"><span class="gci-old-price">1539</span><span class="gci-new-price">1366<sup>&nbsp;руб</sup></span><span class="gci-discount">-80%                  </span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}